{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "var/infection/mutants.log",
        "html": "var/infection/mutants.html",
        "summary": "var/infection/summary.log",
        "perMutator": "var/infection/per-mutator.md",
        "github": true
    },
    "mutators": {
        "@default": true
    }
}